<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col text-center social-media-icons">
      {% for item in site.data.settings.social %}
      {% if item.icon == 'bluesky' or item.icon == 'github' or item.icon == 'linkedin' or item.icon == 'medium' %}
          <a href="{{ item.link }}" class="ms-3 fs-5" target="_blank" rel="noopener">
            <i class="fa-brands fa-{{ item.icon }}"></i>
          </a>
        {% if item.icon == 'paper-plane' %}
          <a href="{{ item.link }}" class="ms-3 fs-5" target="_blank" rel="noopener">
            <i class="fa-solid fa-{{ item.icon }}"></i>
          </a>
      {% endfor %}
    </div>
  </div>
</footer>
